@media only screen and (max-width:767px){
	#header{height:50px;}
	#header h1{width:153px; padding-top:11px;}
	#header #gnb{top:50px;}
	#header .heder_btn{top:16px;}

	.content{padding-top:50px;}

	.login_wrap{padding-top:50px;}
	.login_wrap h2{font-size:28px;line-height:1;}
	.login_wrap p{margin-top:13px;font-size:13px;line-height:1;}
	.login_wrap .login_con{padding-top:20px;}
	.login_wrap .login_entry li{margin-bottom:10px;}
	.login_wrap .login_entry li .input_basic{height:40px;}
	.login_wrap .login_entry li .input_basic::placeholder{font-size:12px;}
	.login_wrap .login_keep{margin-top:2px;}
	.login_wrap .login_keep .keep_text::before{width:18px; height:18px;margin-right:5px;}
	.login_wrap .login_keep .keep_text{font-size:12px;line-height:15px;}
	.login_wrap .login_btn {margin-top:22px;}
	.login_wrap .login_btn button{height:46px;line-height:1;font-size:14px;}
	.login_wrap .login_btn p{margin-top:10px;font-size:12px;}
	.login_wrap .find_wrap{height:34px;}
	.login_wrap .find_wrap li{width:calc(50% - 5px);margin-left:10px;}
	.login_wrap .find_wrap li a{font-size:12px;line-height:34px;}
	.login_wrap .join_btn a{height:46px;line-height:46px;font-size:14px;}

	.app_head{padding:25px 0 13px;}
	.app_head h2{font-size: 24px;}
	.app_head p{padding-top: 15px;line-height: 18px;font-size: 12px;}
	.app_head li.on{width:32px; height:32px;line-height:32px;font-size:13px;}
	.app_head li{width:18px; height:18px;line-height:18px;margin-left:10px;font-size:11px;}
	.app_cont .point{width:4px; height:4px;border-radius:2px;}
	.app_cont .app_sub h3{font-size:24px;line-height:1;}
	.app_cont .app_sub div{margin-top:10px;font-size:12px;}
	.app_cont .app_data{padding-top:39px;}
	.app_cont .app_data .agree_all{font-size:14px;margin-bottom:26px;}
	.app_cont .app_data .agree_all label::before{width:22px; height:22px;margin-right:6px;}
	.app_cont .app_data .chk_label{line-height:22px;padding-left:28px;}
	.app_cont .app_data li {margin-top:18px;}
	.app_cont .app_data li .chkText .chk_label{line-height:20px;font-size:12px;padding-left:28px;}
	.app_cont .app_data li .chkText .chk_label::before {width:20px;height:20px;}
	.app_cont .app_data li .agrree_more a{width:55px;height:20px; line-height:18px;font-size:10px;border-radius: 2px;}
	.login_wrap .join_btn{padding-bottom:40px;}
	.app_cont .app_data .btnBox{margin-top:30px;padding-bottom:40px;}
	.app_cont .app_data .btnBox input{height:46px;font-size: 14px;}

	.agree_pop .ag_cont{width:100%; height:100%;background-color:transparent;}
	.agree_pop .ag_cont .inner{background: #fff;padding: 0;margin: 10px;height: calc(100% - 20px);}
	.agree_pop .ag_cont .ag_ttl{padding-left:0;line-height:55px;font-size: 13px;text-align:center;}
	.agree_pop .ag_cont .ag_text_contents{max-height:640px;height:calc(100% - 180px);font-size: 12px;word-break:keep-all;}
	.agree_pop .ag_cont .agr_close_btn{position: absolute; bottom: 30px;left: 50%;margin-left: -70px;width:140px; height:36px;line-height:34px;font-size: 12px;border-radius:4px;}
	.app_cont .app_data form .frm{margin-bottom:20px;}
	.app_cont .app_data form .tit{margin-bottom:8px;font-size: 12px;}
	.app_cont .app_data form .tit .sub_tit{font-size: 10px;}
	.app_cont .app_data form .input_basic{padding-left:14px;height:40px;font-size:12px;}
	.app_cont .app_data form .input_basic::placeholder{font-size:12px;}
	.app_cont .app_data form .inp_date .input_basic{max-width:calc(33.33% - 10px);}
	.app_cont .app_data form .inp_date.inp_type .input_basic{max-width:calc(50% - 7.5px)}
	.app_cont .app_data form .inp_date.inp_biz .input_basic{max-width:calc(36.8% - 10px);}
	.app_cont .app_data form .inp_date.inp_biz .input_basic[name=biz_num2]{max-width:calc(26.4% - 10px);}
	.app_cont .app_data form .inp_date span{width:15px;font-size:12px;}
	.app_cont .app_data li .radio .chk{position:absolute;}
	.app_cont .app_data li .radio .chk_label{padding-left:22px;margin-right:16px;line-height:18px;font-size: 12px;}
	.app_cont .app_data li .radio .chk_label::before{width:18px; height:18px;}
	.app_cont .app_data .year_type{margin-right:12px; width: calc(50% - 6px);}
	.app_cont .app_data .year_type .input_basic{width: calc(100% - 53px);}
	.app_cont .app_data .year_type label{font-size:10px;}
	.app_cont .app_data form .option .option_list{height:40px;padding-left:14px;font-size: 12px; background-size:8px 6px;}

	.app_cont .app_data .file_list li{margin-bottom: 12px;padding: 20px 12px 20px 15px;}
	.app_cont .app_data .file_list .file_area .file_nm{margin-top:10px;}
	.app_cont .app_data .file_list .file_area .tit + .file_nm{margin-top:17px;}
	.app_cont .app_data .file_list .file_area .file_nm .attach{line-height:14px;font-size: 11px;}
	.app_cont .app_data .file_list .file_area .file_nm .attach_del{width:15px; height:15px; margin:-1px 0 0 5px;}
	.app_cont .app_data .file_list .file_area .tit {padding-right:85px; line-height:18px;}
	.app_cont .app_data .file_list .file_a label{top:15px; right:12px;width:70px; height:24px; line-height:24px;font-size: 11px;border-radius:3px;}

	.app_list{padding-top:20px;}
	.app_list .tbl_area{padding-bottom:40px;}
	.app_list table th{height:40px;font-size: 11px;}
	.app_list table th:first-child{border-radius: 3px 0 0 3px;}
	.app_list table th:last-child{border-radius: 3px 0 0 3px;}
	.app_list table tbody tr{height:70px;}
	.app_list table td{font-size: 12px;}
	.app_list table td a{width:40px; height:22px; line-height:20px; font-size: 11px;}

	.app_list::-webkit-scrollbar {height:4px;}

	.intro_head{padding-top:40px; margin-bottom:0; padding-bottom:92px;}
	.intro_head .intro_tit{font-size: 24px;line-height: 30px;color: #333;}
	.intro_head .intro_sub_tit{font-size: 12px;line-height: 18px;}
	.intro_head .intro_btn{left:20px; bottom:-62px;}
	.intro_head .intro_btn a{width:155px; height:40px;line-height:40px;padding-left:15px; font-size: 12px;border-radius:3px;}
	.intro_head .intro_btn a::after{right:16px;margin-top:15px; width:8px; height:12px;}

	.intro_cont{padding-bottom:0;}
	.intro_cont .intro_list{padding:30px 0;}
	.intro_cont .intro_list dt{position:relative;width:100%; margin-bottom:18px;}
	.intro_cont .intro_list dt h3{font-size: 20px;line-height:25px;}
	.intro_cont .intro_list dt h3 .txt_color{margin-right:3px;}
	.intro_cont .intro_list .txt_notice{margin-top:15px;font-size: 11px;line-height: 14px;color: #999;}
	.intro_cont .intro_list dd{max-width:100%;width:100%;margin-left:0;}
	.intro_cont .intro_list dd .intro_dese{margin-top:15px;font-size: 12px;line-height: 20px;}

	.intro_cont .intro_list dd .plan_step li{width:90px; margin-left:25px;}
	.intro_cont .intro_list dd .plan_step li:first-child{margin-left:0;}
	.intro_cont .intro_list dd .plan_step li .step_tit{height:90px;font-size: 12px;border: 3px solid rgba(29,158,141,0.2);}
	.intro_cont .intro_list dd .plan_step li .step_tit span{line-height:15px;}
	.intro_cont .intro_list dd .plan_step li .step_month{width:54px; height:20px; line-height:20px; margin:5px auto 0;font-size: 12px;}
	.intro_cont .intro_list dd .plan_step .fork{width:100px; margin-left:40px;}
	.intro_cont .intro_list dd .plan_step .fork .step_tit{height:42px;line-height:15px;}
	.intro_cont .intro_list dd .plan_step .fork .step_tit:first-child{margin-bottom:6px;}
	.intro_cont .intro_list dd .plan_step li::before{ left:-15px; top:37px; width:10px; height:18px;}
	.intro_cont .intro_list dd .plan_step .fork::before{left:-28px; top:22px;width:19px; height:49px;}

	.intro_cont .intro_list dd .tbl_area .tbl4_col1{width:20%;}
	.intro_cont .intro_list dd .tbl_area .tbl4_col2{width:20%;}
	.intro_cont .intro_list dd .tbl_area .tbl4_col3{width:60%;}
	.intro_cont .intro_list dd .tbl_area thead th{height:35px; font-size: 11px;letter-spacing: -0.03em;}
	.intro_cont .intro_list dd .tbl_area tbody td{height:35px;line-height: 18px;padding:15px 0;font-size: 11px;letter-spacing: -0.03em;}

	.intro_cont .intro_list dd .list_step{margin-top:20px;}
	.intro_cont .intro_list dd .list_step h4{font-size: 12px;line-height: 20px;}
	.intro_cont .intro_list dd .list_step .intro_dese{margin-top:5px;}
	.intro_cont .intro_list dd .list_step .intro_dese .br{margin-left:27px;}
	.intro_cont .intro_list.intro_list5 dd .tbl_area{margin-top:10px;}
	.intro_cont .intro_list.intro_list5 dd .list5_step .dv_mob{display:inline-block; margin-left:19px;}


	.content .phone_banner{padding-bottom:0}
	.content .phone_banner .inner{height:160px;}
	.content .phone_banner .phone_img{width: 181px;left: -17px;top: -10px;}
	.content .phone_banner .phone_area{margin-left:148px;}
	.content .phone_banner .phone_area h3{line-height: 24px;margin-right:6px;font-size: 18px;font-weight: 700;}
	.content .phone_banner .phone_area h3 + a{width:68px; height:24px;line-height:20px;font-size: 11px;border-radius: 3px;border:1px solid #00AE97; }
	.content .phone_banner .phone_area p{line-height: 1; padding-top:10px;font-size: 12px;word-break:keep-all;}
	.content .phone_banner .phone_area p .point_g{width:16px;height:16px;line-height:16px;margin:0; margin-right:5px; border-radius:8px;}


@media only screen and (max-width:480px){
	#header .top_menu > ul{margin-right:28.3vw;}
	.app_cont .app_data li .frm .agr{    clear: both;width: 100%;margin-top: 15px;}
	.app_cont .app_data li .agrree_more{padding-top:15px; clear:both;}





}